/*Colores*/
/*Fonts*/
/*Herramientas*/
* {
  margin: 0;
  padding: 0; }

html {
  max-height: 100%; }

.body {
  background-color: #e0f7fa; }

.logo-index {
  text-align: center;
  margin: 0 auto;
  padding: 0; }
  .logo-index .img {
    height: 80vh;
    width: 100%; }

.header {
  height: 150px;
  margin: 0;
  padding: 0; }
  .header .h1-header {
    font-family: "Coda Caption", sans-serif;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 40px; }
  .header .a-header {
    text-decoration: none;
    color: #212121; }

.nav {
  height: 60px;
  text-transform: uppercase;
  position: relative; }
  .nav .ul-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0; }
  .nav .li-nav {
    display: inline-block;
    padding: 10px 10px; }
    .nav .li-nav:hover {
      border-radius: 10px;
      background-color: #80deea; }
  .nav .a-nav {
    text-decoration: none;
    color: #212121;
    font-family: "Roboto", sans-serif; }

.foto-perfil {
  text-align: center;
  padding: 20px; }
  .foto-perfil .perf {
    height: auto;
    width: 20%;
    border-radius: 50%; }

.texto-presentacion {
  padding: 0;
  height: 100%;
  width: 80vw; }
  .texto-presentacion .p-pres {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #212121; }
  .texto-presentacion span.name {
    font-weight: bolder;
    text-transform: capitalize; }

.foot {
  margin: 0;
  margin-top: 12px;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  padding-right: 10px; }
  .foot .p-foot {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: right;
    margin: 0; }
  .foot .a-foot {
    text-decoration: none;
    color: #212121; }
    .foot .a-foot:hover {
      color: #00b8d4; }

.menu {
  background-color: #e0f7fa;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #212121; }

.logo {
  padding-left: 30px; }

.menuItems {
  display: flex;
  list-style: none;
  margin: 0; }

.menuItems li {
  border-radius: 3px;
  margin: 0 5px; }

.menuItems li a {
  font-family: "Coda Caption", sans-serif;
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #212121; }

.menuItems li:hover {
  background-color: #84ffff; }

.btnMenu {
  margin-right: 30px;
  font-size: 25px;
  color: #212121;
  cursor: pointer;
  display: none; }

ul.show {
  top: 65px; }

.mcodezz {
  height: 60px; }

.habilidades .h2-habilidades {
  font-family: "Coda Caption", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px; }

.habilidades .ul-habilidades {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 33.3%; }

.habilidades .li-habilidades {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 18px; }
  .habilidades .li-habilidades:hover {
    color: #00b8d4; }

.habilidades .icon {
  padding-right: 15px; }

.experiencia {
  padding-bottom: 15px; }
  .experiencia .h2-experiencia {
    font-family: "Coda Caption", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px; }
  .experiencia .ul-experiencia {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 33.3%; }
  .experiencia .li-experiencia {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 18px; }
    .experiencia .li-experiencia:hover {
      color: #00b8d4; }
  .experiencia .icon {
    padding-right: 15px; }

.contacto {
  height: 73vh;
  padding: 0; }
  .contacto .h2-contacto {
    font-family: "Coda Caption", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px; }
  .contacto .ul-contacto {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 10%;
    text-align: center; }
  .contacto .li-contacto {
    font-size: 50px; }
  .contacto .a-contacto {
    text-decoration: none;
    color: #212121; }
    .contacto .a-contacto:hover {
      color: #00b8d4; }

@media screen and (max-width: 900px) {
  .header .h1-header .a-header {
    font-size: 60%; }
  .foto-perfil .perf {
    height: auto;
    width: 40%;
    border-radius: 50%; }
  .texto-presentacion {
    width: 90%;
    text-align: left; }
  .habilidades .ul-habilidades {
    margin: 0 auto;
    padding: 0;
    width: 90%; }
  .habilidades .li-habilidades {
    font-size: 16px; }
  .habilidades .icon {
    padding-right: 10px; }
  .experiencia .ul-experiencia {
    margin: 0 auto;
    padding: 0;
    width: 90%; }
  .experiencia .li-experiencia {
    font-size: 16px; }
  .experiencia .icon {
    padding-right: 10px; }
  .contacto {
    height: 100vh; }
    .contacto .h2-contacto {
      font-family: "Coda Caption", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0 auto; }
    .contacto .ul-contacto {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 10%;
      text-align: center; }
    .contacto .li-contacto {
      font-size: 50px; }
    .contacto .a-contacto {
      text-decoration: none;
      color: #212121; }
  .logo {
    padding-left: 30px; }
  .menuItems li a {
    font-size: 16px; } }

@media screen and (max-width: 900px) and (max-width: 768px) {
  .menu {
    height: 65px; }
  .btnMenu {
    display: inline-flex; }
  .menuItems {
    position: fixed;
    width: 100%;
    height: calc(100%- 65px);
    background-color: #414141;
    top: -100vh;
    text-align: center;
    transition: all .2s;
    flex-direction: column; }
  .menuItems li {
    margin: 30px 0 0 0;
    line-height: 30px; }
  .menuItems li:hover {
    background-color: none; }
  .menuItems li a {
    font-size: 20px;
    color: white;
    font-weight: bold; }
  .menuItems li a:hover {
    color: #fff; }
  .logo {
    font-size: 25px;
    padding-left: 30px; }
  ul.menuItems.show {
    padding: 0; } }

@media screen and (max-width: 900px) and (max-width: 899px) and (orientation: landscape) {
  .menuItems li {
    margin: 5px 0 0 0; }
  .menuItems {
    overflow: scroll;
    height: calc(100% - 65px); } }
