/*Colores*/
$color-base : #e0f7fa;
$color-resaltado: #84ffff ;
$text-color: #212121;

/*Fonts*/
$titulos : 'Coda Caption', sans-serif;
$textos : 'Roboto', sans-serif;

/*Herramientas*/
$em: 20px;

* {
	margin: 0;
	padding: 0;
}
html {
	max-height: 100%;
}
.body {
	background-color: $color-base;
}

.logo-index {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	.img {
		height: 80vh;
		width: 100%;
	}
}

.header {
	height: 7.5*$em;
	margin: 0;
	padding: 0;
	.h1-header {
		font-family: $titulos;
		font-size: 3*$em;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		padding-top: 2*$em;
	}
	.a-header {
		text-decoration: none;
		color: $text-color;
	}
}



.nav {
	height: 3*$em;
	text-transform: uppercase;
	position: relative;
	.ul-nav {
		list-style: none;
		margin: 0 auto;
		padding: 0;
	}
	.li-nav {
		display: inline-block;
		padding: 10px 10px;
		&:hover {
			border-radius: 10px;
			background-color: #80deea;
		}
	}
	.a-nav {
		text-decoration: none;
		color: $text-color;
		font-family: $textos;
	}
}



.foto-perfil {
	text-align: center;
	padding: $em;
	.perf {
		height: auto;
		width: 20%;
		border-radius: 50%;
	}
}

.texto-presentacion {
	padding: 0;
	height: 100%;
	width: 80vw;
	.p-pres {
		text-align: center;
		font-family: $textos;
		font-size: 18px;
		color: $text-color;
	}
	span.name {
		font-weight: bolder;
		text-transform: capitalize;
	}
}

.foot {
	margin: 0;
	margin-top: 12px;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	padding-right: 10px;
	.p-foot {
		font-family: $textos;
		font-weight: bold;
		text-align: right;
		margin: 0;
	}
	.a-foot {
		text-decoration: none;
		color: $text-color;
		&:hover {
			color: #00b8d4;
		}
	}
}


//responisve menu
.menu {
	background-color: #e0f7fa;
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $text-color;

}
.logo {
	padding-left: 30px;
}
.menuItems {
	display: flex;
	list-style: none;
	margin: 0;
}
.menuItems li {
	border-radius: 3px;
	margin: 0 5px;
}
.menuItems li a {
	font-family: $titulos;
	padding: 7px 13px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	color: $text-color;
}
.menuItems li:hover {
	background-color: #84ffff;
}
.btnMenu {
	margin-right: 30px;
	font-size: 25px;
	color: $text-color;
	cursor: pointer;
	display: none;
}
ul.show {
	top: 65px;
}


.mcodezz {
	height: 60px;
}