.habilidades {
	.h2-habilidades {
		font-family: $titulos;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: $em;
	}
	.ul-habilidades {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		//border: 1px solid;
		width: 33.3%;
	}
	.li-habilidades {
		font-family: $textos;
		text-transform: capitalize;
		font-size: 18px;
		&:hover {
			color: #00b8d4;
		}
	}
	.icon {
		padding-right: 15px;
	}
}

.experiencia {
	padding-bottom: 15px;
	.h2-experiencia {
		font-family: $titulos;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: $em;
	}
	.ul-experiencia {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		//border: 1px solid;
		width: 33.3%;
	}
	.li-experiencia {
		font-family: $textos;
		text-transform: capitalize;
		font-size: 18px;
		&:hover {
			color: #00b8d4;
		}
	}
	.icon {
		padding-right: 15px;
	}
}
