@media screen and (max-width: 900px) {
	.header {
		//height: 3*$em;
		.h1-header {
			.a-header {
				font-size: 60%;
			}
		}
	}
  .foto-perfil {
    .perf {
      height: auto;
      width: 40%;
      border-radius: 50%;
    }
  }

  .texto-presentacion {
    width: 90%;
    text-align: left;
  }

  .habilidades {
    .ul-habilidades {
      margin: 0 auto;
      padding: 0;
      width: 90%;
    }
    .li-habilidades {
      font-size: 16px;
    }
    .icon {
      padding-right: 10px;
    }
  }

  .experiencia {
    .ul-experiencia {
      margin: 0 auto;
      padding: 0;
      width: 90%;
    }
    .li-experiencia {
      font-size: 16px;
    }
    .icon {
      padding-right: 10px;
    }
  }

  .contacto {
    height: 100vh;
    .h2-contacto {
      font-family: $titulos;
      text-transform: uppercase;
      text-align: center;
      padding-top: $em;
      padding-bottom: $em;
      margin: 0 auto;
    }
    .ul-contacto {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      //border: 1px solid;
      width: 10%;
      text-align: center;
    }
    .li-contacto {
      font-size: 2.5*$em;
    }
    .a-contacto {
      text-decoration: none;
      color: $text-color;
    }
  }

  .logo {
    padding-left: 30px;
  }
  .menuItems li a {
    font-size: 16px;
  }

  //menu resp
  @media screen and (max-width: 768px) {
    .menu {
     height: 65px;
    }
    .btnMenu {
      display: inline-flex;
    }
    .menuItems {
      position: fixed;
      width: 100%;
      height: calc(100%- 65px);
      background-color: #414141;
      top: -100vh;
      text-align: center;
      transition: all .2s;
      flex-direction: column;
    }
    .menuItems li {
      margin: 30px 0 0 0;
      line-height: 30px;
    }
    .menuItems li:hover {
      background-color: none;
    }
    .menuItems li a {
      font-size: 20px;
      color: white;
      font-weight: bold;
    }
    .menuItems li a:hover {
      color: #fff;
    }
    .logo {
      font-size: 25px;
      padding-left: 30px;
    }
    ul.menuItems.show {
      padding: 0;
    }
  }

  @media screen and (max-width: 899px) and (orientation: landscape) {
    .menuItems li {
      margin: 5px 0 0 0;
    }
    .menuItems {
      overflow: scroll;
      height: calc(100% - 65px);
    }
    .show {
      height: 200px;
    }
    .contacto {
      height: auto;
    }
}






















}

